# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Environment and secrets
.env
local.settings.json

# Logs
metrics.log

# Azure Functions
bin/
obj/

# VSCode and IDEs

.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/
.coverage

# Build
build/
dist/
.venv/
venv/
env/ 